#define WIFI_SSID "MySSID" // replace MySSID with your WiFi network name
#define WIFI_PASS "MyPassword" // replace MyPassword with your WiFi password
#define MQTT_PASS "MyPassword" // replace MyPassword with your MQTT password
